{% extends 'metronic/layout/master.html.twig' %}

{% block layout %}
    {% set user = app.user %}
    {% set roleParts = user.roles[0] | split('_') %}
    {% set role = roleParts | last %}
    <script>

        const currentUser = {
            id: "{{ user.id }}",
            firstname: "{{ user.firstname }}",
            lastname: "{{ user.lastname }}",
            email: "{{ user.email }}",
            role: "{{ role }}"
        };
        // Log the user object to the console for debugging
        console.log(currentUser);
    </script>
    <!--begin::App-->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <!--begin::Page-->
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            {% include "#{theme.getParameter('KT_THEME_LAYOUT_DIR')}/partials/sidebar-layout/_header.html.twig" %}
            <!--begin::Wrapper-->
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                {% include "#{theme.getParameter('KT_THEME_LAYOUT_DIR')}/partials/sidebar-layout/_sidebar.html.twig" %}
                <!--begin::Main-->
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid">
                        {% include "#{theme.getParameter('KT_THEME_LAYOUT_DIR')}/partials/sidebar-layout/_toolbar.html.twig" %}
                        <!--begin::Content-->
                        <div id="kt_app_content" class="app-content flex-column-fluid">
                            <!--begin::Content container-->
                            <div id="kt_app_content_container" class="app-container container-fluid">

                                {% block page_toto %}{% endblock %}
                                {% block content %}{% endblock %}
                            </div>
                            <!--end::Content container-->
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Content wrapper-->
                    {% include "#{theme.getParameter('KT_THEME_LAYOUT_DIR')}/partials/sidebar-layout/_footer.html.twig" %}
                </div>
                <!--end:::Main-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::App-->

  {#  {% include "metronic/partials/_drawers.html.twig" %}#}

   {# {% include "metronic/partials/_modals.html.twig" %}#}

    {% include "metronic/partials/_scrolltop.html.twig" %}

{% endblock %}
